<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head-base.html" . -}}
    <link rel="alternate" type="application/atom+xml" title="{{ .Site.Params.blog_title }}" href=/blog/index.xml>
    {{- $style := resources.Get "css/style.scss" | toCSS | minify | fingerprint }}
    <link id="theme" rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
  </head>
  <body>
    {{ partial "header.html" . }}
    {{- block "main" . }}
    <main>
      {{ .Content }}
    </main>
    {{- end }}
    {{ partial "footer.html" . -}}
    {{ partial "scripts.html" . -}}
  </body>
</html>
