<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en-US">
  {{ partial "head.html" . }}
  <body class="page-layout">
    {{ partial "navbar.html" . }}
    {{ block "hero-header" . }}{{ partial "hero-header.html" . }}{{ end }}
    <section class="section">
      <div class="container">
        <div class="content" style="text-align: justify;">
          {{ block "main" . }}{{ .Content }}{{ end }}
        </div>
      </div>
    </section>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
