<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head-base.html" . -}}
    {{- $style := resources.Get "css/style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
    {{- block "add-to-header" . }}{{ end }}
  </head>
  <body>
    {{ partial "header.html" . }}
    {{- block "main" . }}
    <main>
      {{ .Content }}
    </main>
    {{- end }}
    {{ partial "footer.html" . -}}
    {{ partial "scripts.html" . -}}
  </body>
</html>
