{{ define "add-to-header" }}
{{- if eq .Kind "term" }}
<link rel="alternate" type="application/atom+xml" title="{{ .Data.Singular | title }}: {{ .Title  }} on Oscar's Blog" href="{{ .RelPermalink }}index.xml">
{{ end }}
{{ end }}

{{ define "main" }}
<main class="list">
  {{- if .Content }}
  <header>
    {{ .Content }}
  </header>
  {{- else if eq .Kind "term" }}
  <header>
    <h1>{{ .Data.Singular | title }}: {{ .Title }}</h1>
  </header>
  {{- end }}

  {{- $paginator := .Paginator }}
  {{- range $paginator.Pages }}
  <article class="summary h-entry">
    <header>
      <h2 class="p-name"><a class="u-url" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="metadata">
        {{ with .Params.categories }}<a class="p-category" href="{{ "blog/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a> &middot; {{ end }}<a href="{{ .RelPermalink }}"><data class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</data></a> &middot; {{ partial "read-time.html" . }}
      <div>
    </header>
    <section class="content">
      {{- if .Params.subtitle }}
      <p class="p-summary">{{ .Params.subtitle }}</p>
      {{- else }}
      <p class="p-summary">{{ .Plain | htmlUnescape | truncate 200 }}</p>
      {{- end }}
    </section>
  </article>
  {{- end }}

  {{- $paginator := .Paginator }}
  {{- if or $paginator.HasPrev $paginator.HasNext }}
    <div class="pagination">
      {{- if $paginator.HasPrev }}
        <a class="button" href="{{ $paginator.Prev.URL }}">&larr; Newer Posts</a>
      {{- end }}
      {{- if $paginator.HasNext }}
        <a class="button right" href="{{ $paginator.Next.URL }}">Older Posts &rarr;</a>
      {{- end }}
    </div>
  {{- end }}
</main>
{{ end }}
