{{ define "main" }}
<main>
  <article class="h-entry">
    <header>
      <h1 class="p-name">{{ .Title }}</h1>
      <div class="metadata">{{ partial "categories.html" . }} &middot; <a class="u-url" href="{{ .RelPermalink }}"><data class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</data></a>{{ if ne .Lastmod .Date }} (last modified on <data class="dt-updated" datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "January 2, 2006" }}</data>){{ end }}
      </div>
    </header>
    <div class="content e-content">{{ .Content }}</div>
  </article>

  {{- if or .NextInSection .PrevInSection }}
  <nav class="pagination">
    {{- if .NextInSection }}
    <a class="button" href="{{ .NextInSection.RelPermalink }}" title="{{ .NextInSection.Title }}">&larr; Newer Post</a>
    {{- end }}
    {{- if .PrevInSection }}
    <a class="button right" href="{{ .PrevInSection.RelPermalink }}" title="{{ .PrevInSection.Title }}">Previous Post &rarr;</a>
    {{- end }}
  </nav>
  {{- end }}
</main>
{{- end }}
