@charset "utf-8";
$family-sans-serif: "FreeSans",sans-serif;
$body-font-size: 1.1rem;

$primary: var(--primary);
$secondary: var(--secondary);
$text: var(--text);
$link: var(--link);
$grey: var(--grey);
$grey-lighter: var(--grey-lighter);
$text-strong: var(--text-strong);
$strong-color: var(--strong);
$content-heading-color: $strong-color;

$background: var(--background);
$body-background-color: var(--body-background);
$footer-background-color: var(--footer-background);
$card-background-color: var(--card-background);
$table-background-color: var(--table-background);
$table-color: var(--table);

$button-color: var(--button);
$button-border-color: var(--button-border);
$button-background-color: var(--button-background);
$navbar-item-hover-background-color: --navbar-item-hover-background;

$findColorInvert-white: var(--invert-white);

@mixin lightmode {
  --primary: #7EC27B;;
  --secondary: #18BC9C;
  --text: #0A0A0A;
  --link: #128F76;
  --grey: hsl(0, 0%, 48%);
  --grey-lighter: hsl(0, 0%, 86%);
  --strong: #004C00;
  --text-strong: hsl(0, 0%, 21%);
	--list-title: #363636;
  --background: hsl(0, 0%, 96%);
  --body-background: hsl(0, 0%, 100%);
  --footer-background: hsl(0, 0%, 96%); // Hauria de ser 98%
  --card-background: hsl(0, 0%, 100%);
  --table-background: hsl(0, 0%, 100%);
  --table: hsl(0, 0%, 21%);
  --button: hsl(0, 0%, 21%);
  --button-border: hsl(0, 0%, 86%);
  --button-background: hsl(0, 0%, 100%);
  --navbar-item-hover-background: #6dba6a;
  --invert-white: #fff;
}

@mixin darkmode {
  --primary: #233951;
  --secondary: #18BC9C;
  --text: #808080;
  --link: #375A7F;
  --grey: #B0B0B0;
  --grey-lighter: #808080;
	--strong: hsl(0, 0%, 48%);
  --text-strong: hsl(0, 0%, 48%);
	--list-title: #B0B0B0;
  --background: #1C1C1C;
  --body-background: #101010;
  --footer-background: #1C1C1C;
  --card-background: #1C1C1C;
  --table-background: #1C1C1C;
  --table: #1C1C1C;
  --button: #808080;
  --button-border: #808080;
  --button-background: #101010;
  --navbar-item-hover-background: #233041;
  --invert-white: #E0E0E0;
}

:root {
	@include lightmode;
	@media (prefers-color-scheme: dark) {
		@include darkmode;
	}
}

.dark, .dark * {
	@include darkmode;
}

body {
	background-color: var(--body-background);
}
.has-text-list-title {
	color: var(--list-title);
}

@import "node_modules/bulma/sass/utilities/initial-variables.sass";
@import "node_modules/bulma/sass/utilities/functions.sass";
// @import "function_override.sass";
@import "node_modules/bulma/sass/utilities/derived-variables.sass";
@import "node_modules/bulma/sass/utilities/animations.sass";
@import "node_modules/bulma/sass/utilities/mixins.sass";
@import "node_modules/bulma/sass/utilities/controls.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/components/card.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/components/pagination.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/content.sass";
@import "node_modules/bulma/sass/elements/table.sass";
@import "node_modules/bulma/sass/elements/tag.sass";
@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
@import "node_modules/bulma/sass/layout/_all.sass";
