{{ $paginator := .Paginator }}
{{ range $paginator.Pages }}
<div class="card">
  <header>
    <h2>{{ .Title }}</h2>
  </header>
  <section class="content">
    {{ if .Params.subtitle }}
    <p>{{ .Params.subtitle }}</p>
    {{ else }}
    <p>{{ .Content | truncate 200 }}</p>
    {{ end }}
  </section>
  <footer>
    <time>{{ with .Params.categories }}<a style="color: var(--secondary-text-color)" href="{{ "blog/categories/" | relURL }}{{ . | urlize }}">{{ . | title }}</a> &middot; {{ end }}{{ .Date.Format "January 2, 2006" }} &middot; {{ partial "read-time.html" . }}</time>
  </footer>
  <a class="card-link" href="{{ .RelPermalink }}"></a>
</div>
{{ end }}
