<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><img id="nav-logo" src="/img/logo-white.svg"></a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navContent">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navContent" class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <a class="navbar-item" href="/blog/">Blog</a>
        {{/*
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">More</div>
          <div class="navbar-dropdown is-boxed is-right">
            <a class="navbar-item" href="/contact/">Contact</a>
            <hr class="navbar-divider"/>
            <a class="navbar-item" href="/jsweblabels/" data-jslicense="1">JavaScript Web Labels</a>
          </div>
        </div>
      */}}
        <div class="navbar-item">
          <a class="button is-primary is-inverted is-outlined is-hidden-touch" onclick="toggleTheme();">Toggle theme</a>
          <a class="button is-primary is-hidden-desktop" onclick="toggleTheme();">Toggle theme</a>
        </div>
      </div>
    </div>
  </div>
</nav>
