<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Oscar Benedito's website">
    <meta name="author" content="Oscar Benedito">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>404 Error | Oscar Benedito</title>
    <link rel="icon" href="/{{ _asset_img/favicon.min.svg }}">
  </head>
  <body style="background-color: hsl(0, 0%, 94%); color: hsl(0, 0%, 47%); font-family: sans-serif;">
    <div style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
      <a href="/" style="font-size:0; margin-top: 0;"><img style="width:100px; height:100px;" src="/{{ _asset_img/favicon.min.svg }}"></a>
      <p style="font-size: 3em; font-weight: bold; margin-bottom: 0.25em;">404 Error</p>
      <p style="font-size: 1.5em; margin-bottom: 0;">The file or page you requested was not found.</p>
    </div>
  </body>
</html>
