<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Oscar Benedito's website">
    <meta name="author" content="{{ .Site.Author.name }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>404 Error | Oscar Benedito</title>
    {{- $favicon := resources.Get "img/favicon.min.svg" | fingerprint }}
    <link rel="icon" href="{{ $favicon.RelPermalink }}">
    {{- $style := resources.Get "css/landing.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  </head>
  <body>
    <div class="content">
      <a href="/" class="img first"><img class="big-icon" src="{{ $favicon.RelPermalink }}"></a>
      <p class="title">404 Error</p>
      <p class="subtitle last">The file or page you requested was not found.</p>
    </div>
  </body>
</html>
