{{ define "main" }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{ with .Params.subtitle }}
  <h2>{{ . }}</h2>
  {{ end }}
</header>
<main>
  <article>
    <div class="post-content">
      <h2>Posts ({{ len (where (where .Site.Pages "File.Dir" "==" "blog/") "IsPage" true) }})</h2>
      {{ range .Site.Params.active_years -}}
        {{ $y := . -}}
        <h4>{{ . }}</h4>
        <ul>
          {{ range $.Site.Pages -}}
            {{ if and (eq .File.Dir "blog/") (.IsPage) (eq $y (.Date.Format "2006")) -}}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .Date.Format "January 2" }})</li>
            {{ end -}}
          {{ end -}}
        </ul>
      {{ end -}}
      <h2>Categories ({{ len .Site.Taxonomies.categories }})</h2>
      <ul>
        {{ range .Site.Taxonomies.categories -}}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title | title }}</a> ({{ .Count }} {{ if eq .Count 1}}entry{{ else }}entries{{ end }})</li>
        {{ end -}}
      </ul>
      <h2>Tags ({{ len .Site.Taxonomies.tags }})</h2>
      <ul>
        {{ range .Site.Taxonomies.tags -}}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }} {{ if eq .Count 1}}entry{{ else }}entries{{ end }})</li>
        {{ end -}}
      </ul>
    </div>
  </article>
</main>
{{ end }}
